# IMPORTANT #
# Some configurations have the ** PREMIUM ONLY ** tag, this means that the configurations are only for the premium version.
# Our plugin uses PlaceholderAPI to make placeholders, it's not required but if you want to use it you need to add it
# A detailed wiki of our plugin can be found here: https://github.com/Picono435/wiki
# All the configurations are commented, but if you still need help check the wiki or send a message in our discord
#
# Remember that some configurations may be found in another files inside the settings folder.
# Here you will only find basic configurations
# IMPORTANT #

#################################################################################
#                                                                               #
# Important configurations                                                      #
#                                                                               #
#################################################################################
# In this category there is a lot of important configurations that should be read and changed with your necessities
# Put here the language that you want to use!
# A list of all the possible languages can be found here: https://github.com/Picono435/PicoJobs/tree/master/src/main/resources/langs
# The translations can be INCORRECT or INCOMPLETE because they are made by the community, but you can always change them.
lang: "en-GB"
# Here you can put the name of your server, this message will appier in the start of all messages. To disable just put nothing.
prefix: "&6[PicoJobs] "

#################################################################################
#                                                                               #
# Storage configurations                                                      #
#                                                                               #
#################################################################################
# In this configuration you can select the storage method that you want to use and config it.
storage:
  # Here is a list of storage methods that you can choose:
  # YAML - Save the data in a YAML file inside the plugin directory
  # MySQL - Save the data in a MySQL database
  # MongoDB - Save the data in a MongoDB database
  storage-method: YAML
  # MySQL configuration, required only if the storage method is MySQL
  mysql:
    host: localhost
    port: 3306
    database: mydb
    username: root
    password: ""
    tablename: "jobplayers"
  # MongoDB configuration, required only if the storage method is MongoDB
  mongodb:
    # Here you need to put the MongoDB Connection URI
    # For more information check https://docs.mongodb.com/manual/reference/connection-string/
    URI: "mongodb+srv://<user>:<password>@mydatabases-host.mongodb.net/"
    database: "mcserver"
    collection: "jobplayers"

#################################################################################
#                                                                               #
# Basic configurations                                                          #
#                                                                               #
#################################################################################
# In this category you can change the basic configurations of the plugin
# Do you  want to use the NPC system Tutorial here: https://github.com/Picono435/wiki/npcs ** PREMIUM ONLY**
use-citizens: false
# What should happen when execute /jobs command?
# 1 = Ignore and send a message, recommended for use a NPC
# 2 = Execute basic commands, enter a job, get salary etc... etc... [SOON]
# 3 = Open Jobs Menu
jobs-action: 3